In [8]:
# import pandas as pd
# import os
# df = pd.read_csv('c:/Users/Owen/Downloads/ratings_Books.csv')

In [9]:
# df.head()

    AH2L9G3DQHHAJ  0000000116  4.0  1019865600
0  A2IIIDRK3PRRZY  0000000116  1.0  1395619200
1  A1TADCM7YWPQ8M  0000000868  4.0  1031702400
2   AWGH7V0BDOJKB  0000013714  4.0  1383177600
3  A3UTQPQPM4TQO0  0000013714  5.0  1374883200
4   A8ZS0I5L5V31B  0000013714  5.0  1393632000

In [10]:
import pandas as pd
import gzip
import os

def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

df = getDF('c:/Users/Owen/Downloads/reviews_Books_5.json.gz')

In [14]:
df.shape

(8898041, 9)

In [15]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A10000012B7CGYKOMPQ4L,000100039X,Adam,"[0, 0]",Spiritually and mentally inspiring! A book tha...,5.0,Wonderful!,1355616000,"12 16, 2012"
1,A2S166WSCFIFP5,000100039X,"adead_poet@hotmail.com ""adead_poet@hotmail.com""","[0, 2]",This is one my must have books. It is a master...,5.0,close to god,1071100800,"12 11, 2003"
2,A1BM81XB4QHOA3,000100039X,"Ahoro Blethends ""Seriously""","[0, 0]",This book provides a reflection that you can a...,5.0,Must Read for Life Afficianados,1390003200,"01 18, 2014"
3,A1MOSTXNIO5MPJ,000100039X,Alan Krug,"[0, 0]",I first read THE PROPHET in college back in th...,5.0,Timeless for every good and bad time in your l...,1317081600,"09 27, 2011"
4,A2XQ5LZHTD4AFT,000100039X,Alaturka,"[7, 9]",A timeless classic. It is a very demanding an...,5.0,A Modern Rumi,1033948800,"10 7, 2002"

In [16]:
df1 = df.sample(1000000)

In [19]:
df1.to_csv('books_small.csv')

In [26]:
df.to_csv('books_big.csv')

In [21]:
books = pd.read_csv('c:/Users/Owen/books_small.csv')

In [25]:
# books.shape

In [24]:
# books.head()